<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Cart</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel = 'stylesheet' href = "{% static 'products_app/css/cart.css' %}">

</head>
<body>
<div id="msg">

</div>
<div class="p-3 " style="background:#000;">
      <div class="row">
         <div class="col-md-11">
             <a style=" color:white;" class="navbar-brand" href="#"><strong>DIGI</strong> Shop &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{ request.session.user }} </a>

         </div>
        <div class="col-md-1">
             <a  class="navbar-brand" href="{% url 'logout' %}"style=" color:white;">Logout </a>
        </div>
      </div>


</div>
<h1 class="mt-5">Shopping Cart</h1>
 
<div class="shopping-cart">
 
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  {% for ordered_item in ordered_items %}
     <div class="product">
    <div class="product-image">
      <img src="{% static 'products_app/img/dummyimg.png' %}">
    </div>
    <div class="product-details">
      <div class="product-title">{{ ordered_item.item.title }} </div>
      <p class="product-description"> {{ ordered_item.item.desc }} </p>
    </div>
    <div class="product-price"> {{ ordered_item.item.price }} </div>
    <div class="product-quantity">
      <input id="{{ ordered_item.id }}" type="number" value="{{ ordered_item.quantity }}" min="1"  onchange="calculateTotal({{ ordered_item.id }},{{ ordered_item.item.price }})" onkeyup="calculateTotal({{ ordered_item.id }},{{ ordered_item.item.price }})" oninput="validity.valid||(value='');" required>
    </div>
    <div class="product-removal">
      <button onclick="location.href = '{% url 'delete'%}?id={{ ordered_item.id }}'" class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price sub_total" id="sub_total{{ ordered_item.id}}" > {% widthratio ordered_item.quantity 1 ordered_item.item.price %}  </div>
  </div>



  {% endfor %}


  <div class="totals">
    <div class="totals-item totals-item-total">
      <label><b><h3>Grand Total</h3></b></label>
      <p class="totals-value" id="total"></p>
    </div>
  </div>
       
      <a href="{% url 'checkout' %}" class="btn checkout">Checkout</a>
     <button onclick="update('{% url 'update' %}')" class="checkout">Save</button>
 
</div>

<script>

window.addEventListener('load',calculateGrandTotal);


   function calculateTotal(id, unitPrice){


         const quantity = document.getElementById(id).value;

         document.getElementById('sub_total'+id).innerHTML = (quantity *  unitPrice);

         calculateGrandTotal();

        }


        function calculateGrandTotal(){
                let total = 0;
                let sub_totals = document.getElementsByClassName('sub_total');


                for(let i=0; i< sub_totals.length ; i++ ){
                    total += parseInt(sub_totals[i].innerHTML);
                 }


                document.getElementById('total').innerHTML = total;

        }



        function update(url){
                let items = []
                products = document.getElementsByClassName('product');
                for(let i=0; i<products.length; i++){
                    quantity = products[i].getElementsByTagName('input')[0];
                    let item = {
                      'id': quantity.id,
                      'quantity': quantity.value

                    }
                    items.push(item);
                }

                postUpdate(url, items)
                .then(data => {
                       createAlert('success','Updated Successfully');
                  })
                  .catch((error) => {
                     createAlert('warning',error);
                  });
             }

             async function postUpdate(url, data){
                   const response = await fetch(url, {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json',},
                        body: JSON.stringify(data),
                      });

                      return response.json();
             }

             function createAlert(type, info){

              let msg = document.getElementById('msg');
              msg.innerHTML = `<div class="alert alert-${type} alert-dismissible fade show" role="alert">
                                  ${info}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>`;
             }


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>