<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Cart</title>
  <link rel = 'stylesheet' href = "{% static 'products_app/css/cart.css' %}">

</head>
<body>

<h1>Shopping Cart</h1>
 
<div class="shopping-cart">
 
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>
 
  <div class="product">
    <div class="product-image">
      <img src="{% static 'products_app/img/dummyimg.png' %}">
    </div>
    <div class="product-details">
      <div class="product-title">Seto Jutta</div>
      <p class="product-description"> bhout ramro cha, 2 barsa majjaley tikcha sir</p>
    </div>
    <div class="product-price"> 10 </div>
    <div class="product-quantity">
      <input id="quantity1" type="number" value="1" min="1" onfocus="this.oldValue = this.value " onchange="calculateTotal('quantity1',10, 'sub_total', this)" onkeyup="calculateTotal('quantity1',10, 'sub_total', this)">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price sub_total" id="sub_total" >10</div>
  </div>
 
  <div class="product">
    <div class="product-image">
      <img src="{% static 'products_app/img/dummyimg.png' %}">
    </div>
    <div class="product-details">
      <div class="product-title">Yo chai title hai ta saman ko</div>
      <p class="product-description">guyz yo chai product ko choto description hai </p>
    </div>
    <div class="product-price">10</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1" id="quantity2" onchange="calculateTotal('quantity2',10, 'sub_total1', this)" onkeyup="calculateTotal('quantity2',10, 'sub_total1', this)">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price sub_total" id="sub_total1" >10</div>
  </div>
 
  <div class="totals">
    <div class="totals-item totals-item-total">
      <label><b><h3>Grand Total</h3></b></label>
      <p class="totals-value" id="total">10</p>
    </div>
  </div>
       
      <button class="checkout">Checkout</button>
     <button class="checkout">Save</button>
 
</div>

<script>




   function calculateTotal(id, unitPrice, target, self){

         let total = 0;

         const quantity = document.getElementById(id).value;

         document.getElementById(target).innerHTML = (quantity *  unitPrice)
                                                        .toString()
                                                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");

          let sub_totals = document.getElementsByClassName('sub_total');


          for(let i=0; i< sub_totals.length ; i++ ){
                console.log(i);
                total += parseInt(sub_totals[i].innerHTML);
          }


          document.getElementById('total').innerHTML = total;





 }


</script>



</body>
</html>