<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Cart</title>
  <link rel = 'stylesheet' href = "{% static 'products_app/css/cart.css' %}">

</head>
<body>

<h1>Shopping Cart</h1>
 
<div class="shopping-cart">
 
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  {% for ordered_item in ordered_items %}
     <div class="product">
    <div class="product-image">
      <img src="{% static 'products_app/img/dummyimg.png' %}">
    </div>
    <div class="product-details">
      <div class="product-title">{{ ordered_item.item.title }}</div>
      <p class="product-description"> {{ ordered_item.item.desc }} </p>
    </div>
    <div class="product-price"> {{ ordered_item.item.price }} </div>
    <div class="product-quantity">
      <input id="{{ ordered_item.id }}" type="number" value="{{ ordered_item.quantity }}" min="1"  onchange="calculateTotal({{ ordered_item.id }},{{ ordered_item.item.price }})" onkeyup="calculateTotal({{ ordered_item.id }},{{ ordered_item.item.price }})" oninput="validity.valid||(value='');" required>
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price sub_total" id="sub_total{{ ordered_item.id}}" > {% widthratio ordered_item.quantity 1 ordered_item.item.price %}  </div>
  </div>



  {% endfor %}


  <div class="totals">
    <div class="totals-item totals-item-total">
      <label><b><h3>Grand Total</h3></b></label>
      <p class="totals-value" id="total"></p>
    </div>
  </div>
       
      <button class="checkout">Checkout</button>
     <button class="checkout">Save</button>
 
</div>

<script>

window.addEventListener('load',calculateGrandTotal);


   function calculateTotal(id, unitPrice){


         const quantity = document.getElementById(id).value;

         document.getElementById('sub_total'+id).innerHTML = (quantity *  unitPrice);

         calculateGrandTotal();

        }


        function calculateGrandTotal(){
                let total = 0;
                let sub_totals = document.getElementsByClassName('sub_total');


                for(let i=0; i< sub_totals.length ; i++ ){
                    total += parseInt(sub_totals[i].innerHTML);
                 }


                document.getElementById('total').innerHTML = total;

        }


</script>



</body>
</html>